h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    padding-left: 10%;
    padding-right: 10%;
    width: auto;
    text-align: center;
}

img {
    width: 50%;
}

.container {
    display:flex;
}

ul {
    padding-left: 45%;
}